.breadcrumbs {
    margin-bottom: 20px; /* Space below breadcrumbs */
    font-size: 26px; /* Font size */
    color: #FFB22C; /* Text color */
  }
  
  .breadcrumbs a {
    color: #FFB22C; /* Link color */
    text-decoration: none; /* Remove underline from links */
  }
  
  .breadcrumbs a:hover {
    text-decoration: underline; /* Underline links on hover */
  }
  
  .breadcrumbs .mantine-Breadcrumbs-separator {
    color: #FFB22C; /* Separator color */
    margin: 0 8px; /* Space around separator */
  }
  
  .breadcrumbs .mantine-Breadcrumbs-separator:last-child {
    display: none; /* Hide last separator if needed */
  }
  
  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  